n8n/workflows/notice-discord.json
{
  "name": "ssuMCP 공지 모니터링 → Discord",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SSUAI_API_BASE }}/api/notices",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-notices",
      "name": "Get Recent Notices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Detect new notices using the notice link as a stable id (API has no numeric id).\n// API shape: { data: { items: [ { title, link, date, department, category } ] } }\nconst state = $getWorkflowStaticData('global');\nconst response = $input.first().json;\nconst items = response.data?.items || [];\nconst lastLink = state.lastNoticeLink || null;\n\nlet fresh = [];\nif (lastLink === null) {\n  // First run after activation: post only the newest as a live proof, then mark.\n  fresh = items.slice(0, 1);\n} else {\n  // items[0] is newest; collect everything above the last-seen link.\n  for (const n of items) {\n    if (n.link === lastLink) break;\n    fresh.push(n);\n  }\n}\nif (items.length > 0) state.lastNoticeLink = items[0].link;\nreturn fresh.map(n => ({ json: n }));"
      },
      "id": "filter-new",
      "name": "Filter New Notices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL_NOTICE }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=📢 **[숭실대 새 공지]** {{ $json.title }}\n🏷 {{ $json.category || '공지' }} · {{ $json.department || '' }} · {{ $json.date || '' }}\n🔗 {{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "discord-notify",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Notices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Notices": {
      "main": [
        [
          {
            "node": "Filter New Notices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Notices": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
